.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  /* color: #2289ff; */
  color: #abbed4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.second_title {
  margin: 4rem 0 0;
  line-height: 1.15;
  font-size: 2rem;
  position: relative;
  left: -15%;
}

.second_title span {
  font-size: 4rem;
  color: #abbed4;
  position: absolute;
  left: 90%;
  bottom: -50%;
  z-index: -1;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #1e1e1e;
  color: #ce9178;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.code span {
  color: #9cdcfe;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #ce9178;
  border-color: #1e1e1e;
  background-color: #1e1e1e;
}

.card h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

/* @media (min-width: 600px) { */

/* } */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
  .title{
    font-size: 3.2rem;
  }

  .title,
  .second_title {
    text-align:center;
  }

  .description {
    font-size: 1.3rem;
  }

  .code {
    font-size: 0.9rem;
  }

  .second_title {
    font-size: 1.5rem;
    left: -25%;
    margin-top: 3rem;
  }

  .second_title span {
    font-size: 3rem;
  }
}
